{% extends "upload/test.html" %}
{% block body %}
<h1></h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
      <tr>
          <td>Token</td>
          <td><input type="text" name="token" required="true"></td>
      </tr>
      <tr>
          <td></td>
          <td><button type="submit">Show</button></td>
      </tr>
  </table>



</form>

{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
{% endblock body %}