{% extends "upload/test.html" %}
{% block body %}

<div class = 'container'>
    <div class='col-sm-6'>
        <div class='panel panel-default'>
            <div class='panel-heading'>Login</div>
            <div class='panel-body'>
                <form method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>User name</td>
                            <td><input type="text" name="username"></td>
                        </tr>

                        <!--<tr>-->
                            <!--<td>Email</td>-->
                            <!--<td><input type="email" name="email"></td>-->
                        <!--</tr>-->
                        <tr>
                            <td>Password</td>
                            <td><input type="password" name="password"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="login" name='login'></td>
                        </tr>

                    </table>




                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}