{% extends "upload/test.html" %}
{% block body %}
<h1>Your saved results</h1>
<table>
    {% for item in item_list %}
        <tr><td>{{ item }}</td></tr>
    {% endfor %}
</table>
{% endblock body %}