<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Plagiarism Checker</title>
    <style type="text/css">
         
         body {
             margin: 0;
             padding: 0;
             overflow: hidden;
             height: 100%; 
             max-height: 100%; 
             font-family:Sans-serif;
             line-height: 1.5em;
         }
         
         #header {
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100px; 
             overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
             background: #BCCE98;
         }
         
         #nav {
             position: absolute; 
             top: 100px; 
             left: 0; 
             bottom: 0;
             width: 230px;
             overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
             background: #DAE9BC; 		
         }
         
         #logo {
             padding:10px;
         }
         
         main {
             position: fixed;
             top: 100px; /* Set this to the height of the header */
             left: 230px; 
             right: 0;
             bottom: 0;
             overflow: auto; 
             background: #fff;
         }
         
         .innertube {
             margin: 15px; /* Provides padding for the content */
         }
         
         p {
             color: #555;
         }
 
         nav ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
         }
         
         nav ul a {
             color: darkgreen;
             text-decoration: none;
         }
                 
         /*IE6 fix*/
         * html body{
             padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
         }
         
         * html main{ 
             height: 100%; 
             width: 100%; 
         }
         #header {
            position: relative;
         }
         #header_table{
            margin-left: 0;
            margin-right: 0;
            all: unset;
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<header id="header">
    <div id="logo">
        <table id="header_table">
            <tr>
                <td><img src="https://www.sust.edu/images/logo.png" width="64"/></td>
                <td></td>
                <td><h1>Plagiarism Checker</h1></td>
            </tr>
        </table>

        <!--<div id="content">-->
            <!--<img src="https://www.sust.edu/images/logo.png" class="ribbon" width="64"/>-->
            <!--<div><h1>Plagiarism Checker</h1></div>-->
        <!--</div>-->
    </div>
</header>

<main>
    <div class="innertube">
        {% if data %}
        {{data}}
        {%endif%}

        {% block body %}

        {% endblock body %}
    </div>
</main>

<nav id="nav">
    <div class="innertube">
        <h1>Menu</h1>
        <ul>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/show">See All Results</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/faq">FAQ</a></li>
            {% if user.is_authenticated %}
                <li><a href="/saved_result">Saved result</a></li>
                <li><a href="/logout">Logout</a></li>
            {%else%}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
</body>
</html>
 