{% extends "upload/test.html" %}
{% block body %}
<h1>Upload your code</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <table>
      <tr>
          <td>Token</td>
          <td><input type="text" name="token" required></td>
      </tr>
      <!--<tr>-->
          <!--<td>Name</td>-->
          <!--<td><input type="text" name="name" required></td>-->
      <!--</tr>-->
      <!--<tr>-->
          <!--<td>Department</td>-->
          <!--<td><input type="text" name="dept" required></td>-->
      <!--</tr>-->
      <tr>
          <td>Registration No</td>
          <td><input type="text" name="reg" placeholder="Reg No. ex: 20XXXXXXXX"></td>
      </tr>
      <tr>
          <td><input type="file" name="myfile" accept=".c" multiple webkitdirectory directory required/></td>
          <td><button type="submit">Upload</button></td>
      </tr>
  </table>



</form>

{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
{% endblock body %}