body{
    background: white url("images/background.jpg");
}
.navbar{
    border-radius: 0%;
}
.navbar-brand{
    font-family: 'Satisfy', cursive;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}